<% provide(:title, '接口文档') %>
<div class="container clearfix blog-content-box" id="mainBox">
  <main>
    <div class="blog-content-box">
    	<div class="article-header-box">
    		<div class="article-header">
    			<div class="article-title-box"><h1 class="title-article">Greentest API 接口文档</h1></div>
    		</div>
      </div>
      <article class="baidu_pl">
	<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog"  data-mod=popu_307  data-dsm = "post" >
		<div id="content_views" class="markdown_views prism-atom-one-dark">
      <h3><a id="_9"></a>说明</h3>
      <p>若请求消息体中的参数支持中文，则中文字符必须为UTF-8编码。</p>
      <p>日期与时间的表示有多种方式。为统一起见，除非是约定俗成或者有相应规范的，凡需要日期时间表示的地方一律采用UTC时间，遵循ISO 8601，并做以下约束：</p>
      <ol>
        <li>表示日期一律采用YYYY-MM-DD方式，例如2016-06-01表示2016年6月1日</li>
        <li>表示时间一律采用hh:mm:ss方式，并在最后加一个+0800表示UTC时间。例如23:00:10 +0800表示UTC时间23点0分10秒。</li>
        <li>凡涉及日期和时间合并表示时，在两者中间加空格，例如2016-06-01 23:00:10 +0800表示UTC时间2016年6月1日23点0分10秒</li>
      </ol>
      <h4><a id="_33"></a>发送请求</h4>
      <p>共有三种方式可以基于已构建好的请求消息发起请求，分别为：</p>
      <ul>
        <li>
        <p>cURL</p>
        <p>cURL是一个命令行工具，用来执行各种URL操作和信息传输。cURL充当的是HTTP客户端，可以发送HTTP请求给服务端，并接收响应消息。cURL适用于接口调试。关于cURL详细信息请参见<a href="https://curl.haxx.se/" rel="nofollow">https://curl.haxx.se/</a>。</p>
        </li>
        <li>
        <p>编码</p>
        <p>通过编码调用接口，组装请求消息，并发送处理请求消息。</p>
        </li>
        <li>
        <p>REST客户端</p>
        <p>Mozilla、Google都为REST提供了图形化的浏览器插件，发送处理请求消息。针对Firefox，请参见<a href="https://addons.mozilla.org/en-US/firefox/addon/restclient/" rel="nofollow">FirefoxREST Client</a>；针对Chrome，请参见<a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop" rel="nofollow">Postman</a>。</p>
        </li>
      </ul>
      <h3><a id="API__51"></a>API 规格</h3>
      <h4><a id="_53"></a>公共请求消息头</h4>
      <p>下表列出了所有 XXX API 所携带的公共头域。HTTP 协议的标准头域不再这里列出了。</p>
      <table>
        <thead>
        <tr>
        <th>消息头（Header）</th>
        <th>是否必须</th>
        <th>说明</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>Content-Type</td>
          <td>可选</td>
          <td>application/json; charset=utf-8</td>
          </tr>
          <tr>
          <td>Green-Appid</td>
          <td>必须</td>
          <td>用户所使用的APP的ID</td>
          </tr>
          <tr>
          <td>Green-Userid</td>
          <td>可选</td>
          <td>用户ID</td>
          </tr>
        </tbody>
      </table>
      <h4><a id="_61"></a>公共响应消息头</h4>
      <p>下表列出了所有 XXX API的公共响应头域。HTTP协议的标准响应头域不再这里列出了。</p>
      <table>
        <thead>
        <tr>
        <th>消息头（Header）</th>
        <th>说明</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Content-Type</td>
        <td>只支持JSON格式，application/json; charset=utf-8</td>
        </tr>
        </tbody>
      </table>
      <h4><a id="_69"></a>正常返回格式</h4>
      <table>
        <thead>
        <tr>
        <th>参数名</th>
        <th>类型</th>
        <th>说明</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>success</td>
          <td>布尔</td>
          <td>正确／错误提示</td>
          </tr>
          <tr>
          <td>code</td>
          <td>整数</td>
          <td>错误码</td>
          </tr>
          <tr>
          <td>result</td>
          <td>data</td>
          <td>本次请求的结果</td>
          </tr>
        </tbody>
      </table>
      <p>示例</p>
      <pre><code class="prism language-json"><span class="token punctuation">{</span>
  <span class="token string">"success"</span><span class="token punctuation">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
  <span class="token string">"code"</span><span class="token punctuation">:</span> <span class="token string">0</span><span class="token punctuation">,</span>
  <span class="token string">"result"</span><span class="token punctuation">:</span> <span class="token string">{"data": "hash"}</span>
<span class="token punctuation">}</span></code></pre>
      <h4><a id="_69"></a>错误返回格式</h4>
      <p>XXX  错误响应符合BCE规范，统一为如下格式。后续各接口不再单独列出。</p>
      <table>
        <thead>
        <tr>
        <th>参数名</th>
        <th>类型</th>
        <th>说明</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>success</td>
          <td>布尔</td>
          <td>正确／错误提示</td>
          </tr>
          <tr>
          <td>code</td>
          <td>整数</td>
          <td>错误码</td>
          </tr>
          <tr>
          <td>reason</td>
          <td>字符串</td>
          <td>错误描述</td>
          </tr>
        </tbody>
      </table>
      <p>示例</p>
      <pre><code class="prism language-json"><span class="token punctuation">{</span>
    <span class="token string">"success"</span> <span class="token punctuation">:</span> <span class="token string">false</span><span class="token punctuation">,</span>
    <span class="token string">"code"</span> <span class="token punctuation">:</span> <span class="token string">6</span><span class="token punctuation">,</span>
    <span class="token string">"reason"</span> <span class="token punctuation">:</span> <span class="token string">"硬件编号无效"</span><span class="token punctuation">,</span>
<span class="token punctuation">}</span></code></pre>
      <p>其中，code为错误码，所有错误码取值来源 XXX 公共错误码和 XXX 专有错误码。</p>
      <h4><a id="_93"></a>公共错误码</h4>
      <table>
        <thead>
          <tr>
          <th>错误码</th>
          <th>错误描述</th>
          <th>HTTP 状态码</th>
          <th>中文解释</th>
          <th>英文解释</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td>1</td>
          <td>接口关闭</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>2</td>
          <td>用户停止服务</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>3</td>
          <td>用户无效</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>7</td>
          <td>设备无效</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        </tbody>
      </table>
      <h4><a id="_93"></a>下载（download）专有错误码</h4>
      <table>
        <thead>
        <tr>
        <th>错误码</th>
        <th>错误描述</th>
        <th>HTTP 状态码</th>
        <th>中文解释</th>
        <th>英文解释</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>0</td>
          <td>正常，下发更新品类数据</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>4</td>
          <td>时间戳相同</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        </tbody>
      </table>
      <h4><a id="_93"></a>解析（calculate）专有错误码</h4>
      <table>
        <thead>
        <tr>
        <th>错误码</th>
        <th>错误描述</th>
        <th>HTTP 状态码</th>
        <th>中文解释</th>
        <th>英文解释</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>0</td>
          <td>解析值</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>4</td>
          <td>品类无效</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>5</td>
          <td>GPS无效</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>6</td>
          <td>硬件编号无效</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>8</td>
          <td>采集值无效</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>9</td>
          <td>采集值为零</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>10</td>
          <td>检测公式异常</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <td>11</td>
          <td>采集值长度不对</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        </tbody>
      </table>
      <h3><a id="_105"></a>接口列表</h3>
      <table>
        <thead>
        <tr>
        <th>接口名称</th>
        <th>链接</th>
        <th>说明</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>下载（download）</td>
          <td>http://47.107.174.66:8090/api/v1/download</td>
          <td>发送下载请求，传递时间戳，获取最新品类列表。</td>
          </tr>
          <tr>
          <td>解析（calculate）</td>
          <td>http://47.107.174.66:8090/api/v1/calculate</td>
          <td>发送发送解析请求，传递品类和采集值，获取解析结果。</td>
          </tr>
        </tbody>
      </table>
      <h2><a id="XXXX_123"></a>下载接口（download）</h2>
      <h4><a id="_125"></a>描述</h4>
      <p>发送下载请求，传递时间戳，获取最新品类列表。</p>
      <h4><a id="URI_131"></a>URI</h4>
      <p>GET http://47.107.174.66:8090/api/v1/download</p>
      <p>参数说明</p>
      <table>
        <thead>
        <tr>
        <th>参数</th>
        <th>含义</th>
        <th>例子</th>
        <th>备注</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>ic</td>
          <td>ID CODE（用户编码）</td>
          <td>ic=yKanpKWio6Chrq/39PXX1NVe</td>
          <td>原始用户ID：0123456789abcABC</td>
          </tr>
          <tr>
          <td>ts</td>
          <td>timestamp（时间戳）</td>
          <td>ts=1555241826</td>
          <td>时间戳一致，返回异常编码“时间戳相同”，否则返回品类列表和新的时间戳。</td>
          </tr>
        </tbody>
      </table>
      <h4><a id="_153"></a>请求消息头</h4>
      <p>除公共消息头外，无其它特殊消息头。</p>
      <h4><a id="_163"></a>请求参数体</h4>
      <table>
        <thead>
        <tr>
        <th>参数名称</th>
        <th>类型</th>
        <th>描述</th>
        <th>是否必须</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>ic</td>
          <td>字符串</td>
          <td>用户ID经过特定算法编码后，计算Base64获得字符串</td>
          <td>移动用户必须</td>
          </tr>
          <tr>
          <td>ts</td>
          <td>字符串</td>
          <td>服务器下发的下载品类列表包含最新时间戳，客户端记录并用于下一次下载请求。尽量带时间戳参数避免重复下载。</td>
          <td>否</td>
          </tr>
        </tbody>
      </table>
      <h4><a id="_179"></a>返回消息头</h4>
      <p>除公共消息头，无其它特殊消息头。</p>
      <h4><a id="_191"></a>返回参数</h4>
      <table>
        <thead>
        <tr>
        <th>参数名称</th>
        <th>类型</th>
        <th>描述</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>success</td>
          <td>布尔</td>
          <td>是否正常返回</td>
          </tr>
          <tr>
          <td>code</td>
          <td>整数</td>
          <td>异常编码</td>
          </tr>
          <tr>
          <td>result</td>
          <td>数组</td>
          <td>品类列表</td>
          </tr>
          <tr>
          <td>timestamp</td>
          <td>整数</td>
          <td>服务器品类列表最新时间戳</td>
          </tr>
          <tr>
          <td>reason</td>
          <td>字符串</td>
          <td>异常内容</td>
          </tr>
        </tbody>
      </table>
      <p>result列表中单个品类数据结构说明</p>
      <table>
        <thead>
        <tr>
        <th>参数</th>
        <th>类型</th>
        <th>参数说明</th>
        <th>描述</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>category_number</td>
          <td>整数</td>
          <td>品类唯一编码</td>
          <td></td>
          </tr>
          <tr>
          <td>category_name</td>
          <td>字符串</td>
          <td>品类名称</td>
          <td></td>
          </tr>
          <tr>
          <td>group_name</td>
          <td>字符串</td>
          <td>品类分组名称</td>
          <td></td>
          </tr>
          <tr>
          <td>image_url</td>
          <td>字符串</td>
          <td>品类图片链接</td>
          <td></td>
          </tr>
          <tr>
          <td>reference_standard</td>
          <td>字符串</td>
          <td>参考标准</td>
          <td></td>
          </tr>
        </tbody>
      </table>
      <h4><a id="_205"></a>错误码</h4>
      <p>详见公共错误码。</p>
      <h4><a id="_211"></a>请求示例1（正常下载）</h4>
      <pre><code>URI：http://47.107.174.66:8090/api/v1/download?ts=0&ic=yKanpKWio6Chrq/39PXX1NVe
Header：Green-Userid:Green-Userid Green-Appid:454334543
Body：</code></pre>
      <h4><a id="_223"></a>应答示例1</h4>
      <pre><code>Status: 200
Header: Content-Type →application/json; charset=utf-8 Server →nginx/1.15.8
Body:
{
    "success": true,
    "code": 0,
    "result": [
        {
            "category_number": -1,
            "category_name": "水",
            "group_name": "水",
            "image_url": "http://qiniu.cece5.com/CT6568aa1201cfe6ab75400fe3?e=1555548155&token=yRD9x2RamPDHkpsBmVaRA3BiZA1fzMYKZJ_1UWI7:YgZWNHxGMcUMVvClJa-0rvlpvhw=",
            "reference_standard": "0"
        },
        {
            "category_number": 66,
            "category_name": "鱼",
            "group_name": "鱼",
            "image_url": "http://qiniu.cece5.com/CTb560bc1fc895127bbe51f2d6?e=1555548155&token=yRD9x2RamPDHkpsBmVaRA3BiZA1fzMYKZJ_1UWI7:dGOBnMLEFeU9-eMU-SoxINa7Usg=",
            "reference_standard": "200"
        }
    ],
    "timestamp": 1555241826
}</code></pre>
      <h4><a id="_211"></a>请求示例2（时间戳相同）</h4>
      <pre><code>URI：http://47.107.174.66:8090/api/v1/download?ts=1555241826&ic=yKanpKWio6Chrq/39PXX1NVe
Header：Green-Userid:Green-Userid Green-Appid:454334543
Body：</code></pre>
      <h4><a id="_223"></a>应答示例2</h4>
      <pre><code>Status: 200
Header: Content-Type →application/json; charset=utf-8 Server →nginx/1.15.8
Body:
{
    "success": false,
    "code": 4,
    "reason": "时间戳相同"
}</code></pre>
<h2><a id="XXXX_123"></a>解析接口（calculate）</h2>
<h4><a id="_125"></a>描述</h4>
<p>发送解析请求，传递品类编码和采集值，获取解析结果。</p>
<h4><a id="URI_131"></a>URI</h4>
<p>GET http://47.107.174.66:8090/api/v1/calculate</p>
<p>参数说明</p>
<table>
  <thead>
  <tr>
  <th>参数</th>
  <th>含义</th>
  <th>例子</th>
  <th>备注</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>ic</td>
    <td>ID CODE（用户编码）</td>
    <td>ic=yNDQ0NDQJw==</td>
    <td>原始用户ID：FFFFF</td>
    </tr>
    <tr>
    <td>cn</td>
    <td>category_number（品类唯一编码）</td>
    <td>cn=-1</td>
    <td></td>
    </tr>
    <tr>
    <tr>
    <td>x</td>
    <td>采集值</td>
    <td>x=91020000</td>
    <td>八位</td>
    </tr>
    <tr>
    <td>sn</td>
    <td>硬件SN</td>
    <td>sn=00002</td>
    <td></td>
    </tr>
    <tr>
    <td>gps</td>
    <td>定位</td>
    <td>gps=lat:21.29612,lng:113.157337,sys:WGS84</td>
    <td></td>
    </tr>
    <tr>
    <td>hv</td>
    <td>hardware version（硬件版本）</td>
    <td>hv=20000</td>
    <td></td>
    </tr>
    <tr>
    <td>sv</td>
    <td>software version（软件版本）</td>
    <td>sv=20001</td>
    <td></td>
    </tr>
    <tr>
    <td>fn</td>
    <td>firm name（厂商）</td>
    <td>fn=20002</td>
    <td></td>
    </tr>
    <tr>
    <td>mn</td>
    <td>model number（型号）</td>
    <td>mn=20003</td>
    <td></td>
    </tr>
  </tbody>
</table>
<h4><a id="_153"></a>请求消息头</h4>
<p>除公共消息头外，无其它特殊消息头。</p>
<h4><a id="_163"></a>请求参数体</h4>
<table>
  <thead>
  <tr>
  <th>参数名称</th>
  <th>类型</th>
  <th>描述</th>
  <th>是否必须</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>ic</td>
    <td>字符串</td>
    <td>用户ID经过特定编码后计算Base64获得字符串</td>
    <td>移动用户必须</td>
    </tr>
    <tr>
    <td>x</td>
    <td>八位字符串</td>
    <td>采集值</td>
    <td>是</td>
    </tr>
    <tr>
    <td>cn</td>
    <td>字符串</td>
    <td>品类唯一编码</td>
    <td>是</td>
    </tr>
    <tr>
    <td>sn</td>
    <td>字符串</td>
    <td>硬件序列号SN。</td>
    <td>否</td>
    </tr>
    <tr>
    <td>gps</td>
    <td>字符串</td>
    <td>GPS定位</td>
    <td>否</td>
    </tr>
    <tr>
    <td>hv</td>
    <td>字符串</td>
    <td>硬件版本</td>
    <td>否</td>
    </tr>
    <tr>
    <td>sv</td>
    <td>字符串</td>
    <td>软件版本</td>
    <td>否</td>
    </tr>
    <tr>
    <td>fn</td>
    <td>字符串</td>
    <td>厂商</td>
    <td>否</td>
    </tr>
    <tr>
    <td>mn</td>
    <td>字符串</td>
    <td>型号</td>
    <td>否</td>
    </tr>
  </tbody>
</table>
<h4><a id="_179"></a>返回消息头</h4>
<p>除公共消息头，无其它特殊消息头。</p>
<h4><a id="_191"></a>返回参数</h4>
<table>
  <thead>
  <tr>
  <th>参数名称</th>
  <th>类型</th>
  <th>描述</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>success</td>
    <td>布尔</td>
    <td>是否正常返回</td>
    </tr>
    <tr>
    <td>code</td>
    <td>整数</td>
    <td>异常编码</td>
    </tr>
    <tr>
    <td>result</td>
    <td>整数</td>
    <td>解析结果</td>
    </tr>
    <tr>
    <td>reason</td>
    <td>字符串</td>
    <td>异常内容</td>
    </tr>
  </tbody>
</table>
<h4><a id="_205"></a>错误码</h4>
<p>详见公共错误码。</p>
<h4><a id="_211"></a>请求示例1（正常解析）</h4>
<pre><code>URI：http://47.107.174.66:8090/api/v1/calculate?x=91020000&cn=-1&sn=00002&gps=lat:21.29612,lng:113.157337,sys:WGS84&ic=yNDQ0NDQJw==&hv=30000&sv=30001&fn=30002&mn=30003
Header：Green-Userid:Green-Userid Green-Appid:454334543
Body：</code></pre>
<h4><a id="_223"></a>应答示例1</h4>
<pre><code>Status: 200
Header: Content-Type →application/json; charset=utf-8 Server →nginx/1.15.8
Body:
{
    "success": true,
    "code": 0,
    "result": 68
}</code></pre>
<h4><a id="_211"></a>请求示例2（采集值长度不对）</h4>
<pre><code>URI：http://47.107.174.66:8090/api/v1/calculate?x=9102&cn=-1&sn=00002&gps=lat:21.29612,lng:113.157337,sys:WGS84&ic=yNDQ0NDQJw==&hv=30000&sv=30001&fn=30002&mn=30003
Header：Green-Userid:Green-Userid Green-Appid:454334543
Body：</code></pre>
<h4><a id="_223"></a>应答示例2</h4>
<pre><code>Status: 200
Header: Content-Type →application/json; charset=utf-8 Server →nginx/1.15.8
Body:
{
    "success": false,
    "code": 11,
    "reason": "采集值长度不对"
}</code></pre>
    </div>
  </div>
</article>
    </div>
  </main>
</div>
