<div class='column-filter dropdown'>
  <span class='mdi mdi-filter dropdown-toggle' data-qa='column-filter-icon'/>
  <div class='dropdown-menu dropdown-menu-right'>
    <label>筛选:
      <input class='column-filter-input input-sm form-control' type='text' data-qa='column-filter-input'/>
      <span class='clear-filter-btn glyphicon glyphicon-remove-circle' data-qa='column-filter-clearButton'/>
    </label>
  </div>
</div>
