$danger-light:               #E35245;
$danger:                     #E02F38;
$danger-dark:                #CC1E27;
$greentest-blue:             #15BECE;
$greentest-blue-dark:        #0CA1AF;
$greentest-blue-extra-dark:  #0A8894;
$greentest-gray:             #C6CDCE;
$greentest-gray-dark-0_1:    #A7B9BB;
$greentest-gray-dark-1:      #87A4A7;
$greentest-gray-dark-2:      #8D9AA3;
$greentest-gray-dark-3:      #687178;
$greentest-gray-dark-4:      #165358;
$greentest-gray-dark-5:      #264246;
$greentest-gray-light-1:     #DFD8D9;
$greentest-gray-light-2:     #DFE2E6;
$greentest-gray-light-3:     #EAEDF0;
$greentest-gray-light-3_4:   #EEF2F5;
$greentest-gray-light-4:     #F2F6F9;
$greentest-gray-light-4_5:   #F6F9FB;
$greentest-gray-light-5:     #FAFCFD;
$primary:                    #0A8564;
$primary-dark:               #097759;
$success-light:              #549753;
$success:                    #488356;
$success-dark:               #2D713C;
$warning:                    #FFC82C;
$greentest-white:            #FFFFFF;
$warning-dark:               #B94E1D;
$greentest-link:             #0071A9;
$greentest-link-extra-light: #ECF4F8;
$greentest-dark:             #2A2C2E;
