<footer class='footer text-right'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 text-center'>
        <span class='footer-text'>技术支持</span>
        <span id='logo-block'>
          <%= image_tag 'greentest-logo-golden.png', id: 'greentest-logo-golden' %>
        </span>
      </div>
    </div>
  </div>
</footer>
